div#landing-container {
  overflow: hidden;
  background-image: url("../../assets/background.png");
  height: 100%;
}

div#landing-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

div#landing-title-container {
  width: 80%;
  margin-top: 50px;
}

div#landing-line {
  width: 50%;
  height: 1px;
  margin-top: 60px;
  margin-bottom: 70px;
  background-color: #FFEEB1;
}

div#landing-bottom-text {
  margin-top: 100px;
}